<%- include('partials/header') %>
<body>
    <div class="container">
        <h1>Note It <i class="fa-solid fa-pen-nib"></i></h1>
        
        
        <div class="btn-container-home">
            <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
            <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
        </div>
    </div>

<%- include('partials/footer') %>
    